@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-blue: var(--brand-blue);
  --color-brand-lime: var(--brand-lime);
  --color-brand-navy: var(--brand-navy);
  --color-brand-orange: var(--brand-orange);
  --color-brand-pink: var(--brand-pink);
  --color-brand-purple: var(--brand-purple);
  --color-brand-gray: var(--brand-gray);
  --font-sans: var(--font-bowlby-sc);
  --font-mono: var(--font-dm-mono);
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --brand-blue: #4876ff;
  --brand-lime: #d9f154;
  --brand-navy: #2e3192;
  --brand-orange: #ff7347;
  --brand-pink: #f7d0e9;
  --brand-purple: #692e54;
  --brand-gray: #fffdf9;
}

@layer base {
  body {
    @apply font-mono font-medium text-zinc-800;
  }
}
